theme = "my_theme"

[editor]
auto-save = true
auto-format = true
mouse = false

[editor.file-picker]
hidden = true

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.indent-guides]
render = true

[editor.soft-wrap]
enable = true


